<mat-list>
  <mat-list-item>
    <div class="list-item">
      <div>
        Date
      </div>
      <div>
        Confirmed
      </div>
      <div>
        Growth
      </div>
      <div>
        Recovered
      </div>
      <div>
        Recovered Delta
      </div>
      <div>
        Active
      </div>
      <div>
        Deaths
      </div>
    </div>
  </mat-list-item>

</mat-list>
<mat-list class="list">
  <mat-list-item *ngFor="let item of listData">
    <div class="list-item">
      <div>
        {{item.date}}
      </div>
      <div>
        {{item.confirmed}}
      </div>
      <div class="confirmed-delta ">
        {{item.confirmedDelta}}
      </div>
      <div>
        {{item.recovered}}
      </div>
      <div class="recovered-delta">
        {{item.recoveredDelta}}
      </div>
      <div>
        {{item.active}}
      </div>
      <div class="deaths">
        {{item.deaths}}
      </div>
    </div>
  </mat-list-item>
</mat-list>
